@import url(https://fonts.googleapis.com/css?family=PT+Serif:400,400i,700,700i);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,700&subset=latin,cyrillic);
@import url(https://fonts.googleapis.com/css?family=Arimo:400,700);
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700);
@import url(https://fonts.googleapis.com/css?family=Bitter:400,700);









#dropdown-menu-2btn-49 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-49 .nav .link,
#dropdown-menu-2btn-49 .dropdown-item {
  font-size: 1.2em;
  color: #000000;
  font-family: 'PT Serif', serif;
}
#dropdown-menu-2btn-49 .navbar,
#dropdown-menu-2btn-49 .dropdown-menu {
  background: #d9534f;
}
#dropdown-menu-2btn-49 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-49 .dropdown-menu a:hover,
#dropdown-menu-2btn-49 .dropdown-menu a:focus {
  background: #d5433e;
}
#dropdown-menu-2btn-49 .navbar-toggler {
  color: #000000;
}
#dropdown-menu-2btn-49 A {
  font-size: 22px;
  font-family: 'Roboto', sans-serif;
}
#dropdown-menu-2btn-49 .btn {
  font-size: 20px;
  font-family: 'PT Serif', serif;
}
#header4-d B {
  font-family: 'Playfair Display', sans-serif;
  font-size: 100px;
}
#header4-d I {
  font-family: 'Arimo', sans-serif;
  font-size: 36px;
}
#header4-d H1 {
  text-align: left;
  font-family: 'Titillium Web', sans-serif;
  font-size: 46px;
  color: #000000;
}
#header3-6 H3 {
  color: #d9534f;
  font-family: 'Roboto', sans-serif;
  font-size: 60px;
}
#content1-7 P {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
}
#image2-8 DIV {
  color: #ffffff;
}
#content1-9 P {
  text-align: left;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
}



#dropdown-menu-2btn-4 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-4 .nav .link,
#dropdown-menu-2btn-4 .dropdown-item {
  font-size: 1.2em;
  color: #000000;
  font-family: 'PT Serif', serif;
}
#dropdown-menu-2btn-4 .navbar,
#dropdown-menu-2btn-4 .dropdown-menu {
  background: #d9534f;
}
#dropdown-menu-2btn-4 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-4 .dropdown-menu a:hover,
#dropdown-menu-2btn-4 .dropdown-menu a:focus {
  background: #d5433e;
}
#dropdown-menu-2btn-4 .navbar-toggler {
  color: #000000;
}
#dropdown-menu-2btn-4 A {
  font-size: 22px;
  font-family: 'Roboto', sans-serif;
}
#dropdown-menu-2btn-4 .btn {
  font-size: 20px;
  font-family: 'PT Serif', serif;
}
#msg-box2-1c H2 {
  color: #d9534f;
  font-size: 60px;
}




#dropdown-menu-2btn-h .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-h .nav .link,
#dropdown-menu-2btn-h .dropdown-item {
  font-size: 1.2em;
  color: #000000;
  font-family: 'PT Serif', serif;
}
#dropdown-menu-2btn-h .navbar,
#dropdown-menu-2btn-h .dropdown-menu {
  background: #d9534f;
}
#dropdown-menu-2btn-h .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-h .dropdown-menu a:hover,
#dropdown-menu-2btn-h .dropdown-menu a:focus {
  background: #d5433e;
}
#dropdown-menu-2btn-h .navbar-toggler {
  color: #000000;
}
#dropdown-menu-2btn-h A {
  font-size: 22px;
  font-family: 'Roboto', sans-serif;
}
#dropdown-menu-2btn-h .btn {
  font-size: 20px;
  font-family: 'PT Serif', serif;
}
#content5-q .mbr-section-title {
  color: #d9534f;
}
#content5-q P {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 25px;
}



#dropdown-menu-2btn-s .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-s .nav .link,
#dropdown-menu-2btn-s .dropdown-item {
  font-size: 1.2em;
  color: #000000;
  font-family: 'PT Serif', serif;
}
#dropdown-menu-2btn-s .navbar,
#dropdown-menu-2btn-s .dropdown-menu {
  background: #d9534f;
}
#dropdown-menu-2btn-s .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-s .dropdown-menu a:hover,
#dropdown-menu-2btn-s .dropdown-menu a:focus {
  background: #d5433e;
}
#dropdown-menu-2btn-s .navbar-toggler {
  color: #000000;
}
#dropdown-menu-2btn-s A {
  font-size: 22px;
  font-family: 'Roboto', sans-serif;
}
#dropdown-menu-2btn-s .btn {
  font-size: 20px;
  font-family: 'PT Serif', serif;
}
#msg-box2-1b H2 {
  color: #d9534f;
  font-size: 60px;
}
#testimonials1-z .card-footer > small {
  color: #d9534f;
}
#testimonials1-z .card-footer > div {
  color: #d9534f;
}
#testimonials1-z .mbr-section-title {
  color: #d9534f;
}



#dropdown-menu-2btn-10 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-10 .nav .link,
#dropdown-menu-2btn-10 .dropdown-item {
  font-size: 1.2em;
  color: #000000;
  font-family: 'PT Serif', serif;
}
#dropdown-menu-2btn-10 .navbar,
#dropdown-menu-2btn-10 .dropdown-menu {
  background: #d9534f;
}
#dropdown-menu-2btn-10 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-10 .dropdown-menu a:hover,
#dropdown-menu-2btn-10 .dropdown-menu a:focus {
  background: #d5433e;
}
#dropdown-menu-2btn-10 .navbar-toggler {
  color: #000000;
}
#dropdown-menu-2btn-10 A {
  font-size: 22px;
  font-family: 'Roboto', sans-serif;
}
#dropdown-menu-2btn-10 .btn {
  font-size: 20px;
  font-family: 'PT Serif', serif;
}
#msg-box2-1a H2 {
  color: #d9534f;
  text-align: left;
  font-size: 60px;
}
#content4-15 H4 {
  color: #d9534f;
}
#content4-15 P {
  text-align: center;
}
#content4-16 H4 {
  color: #d9534f;
}
#content4-16 P {
  text-align: center;
}
#content4-17 H4 {
  color: #d9534f;
}
#content4-17 P {
  text-align: center;
}
#content4-18 H4 {
  color: #d9534f;
}
#content4-18 P {
  text-align: center;
}
#content4-19 H4 {
  color: #d9534f;
}
#content4-19 P {
  text-align: center;
}





#dropdown-menu-2btn-1d .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-1d .nav .link,
#dropdown-menu-2btn-1d .dropdown-item {
  font-size: 1.2em;
  color: #000000;
  font-family: 'PT Serif', serif;
}
#dropdown-menu-2btn-1d .navbar,
#dropdown-menu-2btn-1d .dropdown-menu {
  background: #d9534f;
}
#dropdown-menu-2btn-1d .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-1d .dropdown-menu a:hover,
#dropdown-menu-2btn-1d .dropdown-menu a:focus {
  background: #d5433e;
}
#dropdown-menu-2btn-1d .navbar-toggler {
  color: #000000;
}
#dropdown-menu-2btn-1d A {
  font-size: 22px;
  font-family: 'Roboto', sans-serif;
}
#dropdown-menu-2btn-1d .btn {
  font-size: 20px;
  font-family: 'PT Serif', serif;
}
#form2-1m .mbr-section-title {
  font-size: 100px;
}
#msg-box1-1n H2 {
  text-align: left;
  font-family: 'Bitter', serif;
  font-size: 36px;
}
#msg-box1-1q H2 {
  font-size: 36px;
  font-family: 'Bitter', serif;
}





#dropdown-menu-2btn-1t .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-1t .nav .link,
#dropdown-menu-2btn-1t .dropdown-item {
  font-size: 1.2em;
  color: #000000;
  font-family: 'PT Serif', serif;
}
#dropdown-menu-2btn-1t .navbar,
#dropdown-menu-2btn-1t .dropdown-menu {
  background: #d9534f;
}
#dropdown-menu-2btn-1t .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-1t .dropdown-menu a:hover,
#dropdown-menu-2btn-1t .dropdown-menu a:focus {
  background: #d5433e;
}
#dropdown-menu-2btn-1t .navbar-toggler {
  color: #000000;
}
#dropdown-menu-2btn-1t A {
  font-size: 22px;
  font-family: 'Roboto', sans-serif;
}
#dropdown-menu-2btn-1t .btn {
  font-size: 20px;
  font-family: 'PT Serif', serif;
}
#form2-1u .mbr-section-title {
  font-size: 100px;
}
#msg-box1-1w H2 {
  text-align: left;
  font-family: 'Bitter', serif;
  font-size: 36px;
}
#msg-box1-1z H2 {
  font-size: 36px;
  font-family: 'Bitter', serif;
}





#dropdown-menu-2btn-23 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-23 .nav .link,
#dropdown-menu-2btn-23 .dropdown-item {
  font-size: 1.2em;
  color: #000000;
  font-family: 'PT Serif', serif;
}
#dropdown-menu-2btn-23 .navbar,
#dropdown-menu-2btn-23 .dropdown-menu {
  background: #d9534f;
}
#dropdown-menu-2btn-23 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-23 .dropdown-menu a:hover,
#dropdown-menu-2btn-23 .dropdown-menu a:focus {
  background: #d5433e;
}
#dropdown-menu-2btn-23 .navbar-toggler {
  color: #000000;
}
#dropdown-menu-2btn-23 A {
  font-size: 22px;
  font-family: 'Roboto', sans-serif;
}
#dropdown-menu-2btn-23 .btn {
  font-size: 20px;
  font-family: 'PT Serif', serif;
}
#form2-24 .mbr-section-title {
  font-size: 100px;
}
#msg-box1-26 H2 {
  text-align: left;
  font-family: 'Bitter', serif;
  font-size: 36px;
}
#msg-box1-29 H2 {
  font-size: 36px;
  font-family: 'Bitter', serif;
}
#pricing-table1-2a SMALL {
  text-align: right;
}




#dropdown-menu-2btn-2f .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-2f .nav .link,
#dropdown-menu-2btn-2f .dropdown-item {
  font-size: 1.2em;
  color: #000000;
  font-family: 'PT Serif', serif;
}
#dropdown-menu-2btn-2f .navbar,
#dropdown-menu-2btn-2f .dropdown-menu {
  background: #d9534f;
}
#dropdown-menu-2btn-2f .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-2f .dropdown-menu a:hover,
#dropdown-menu-2btn-2f .dropdown-menu a:focus {
  background: #d5433e;
}
#dropdown-menu-2btn-2f .navbar-toggler {
  color: #000000;
}
#dropdown-menu-2btn-2f A {
  font-size: 22px;
  font-family: 'Roboto', sans-serif;
}
#dropdown-menu-2btn-2f .btn {
  font-size: 20px;
  font-family: 'PT Serif', serif;
}
#form2-2g .mbr-section-title {
  font-size: 100px;
}
#msg-box1-2i H2 {
  text-align: left;
  font-family: 'Bitter', serif;
  font-size: 36px;
}




#dropdown-menu-2btn-2q .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-2q .nav .link,
#dropdown-menu-2btn-2q .dropdown-item {
  font-size: 1.2em;
  color: #000000;
  font-family: 'PT Serif', serif;
}
#dropdown-menu-2btn-2q .navbar,
#dropdown-menu-2btn-2q .dropdown-menu {
  background: #d9534f;
}
#dropdown-menu-2btn-2q .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-2q .dropdown-menu a:hover,
#dropdown-menu-2btn-2q .dropdown-menu a:focus {
  background: #d5433e;
}
#dropdown-menu-2btn-2q .navbar-toggler {
  color: #000000;
}
#dropdown-menu-2btn-2q A {
  font-size: 22px;
  font-family: 'Roboto', sans-serif;
}
#dropdown-menu-2btn-2q .btn {
  font-size: 20px;
  font-family: 'PT Serif', serif;
}
#form2-2r .mbr-section-title {
  font-size: 100px;
}
#msg-box1-2w H2 {
  font-size: 36px;
  font-family: 'Bitter', serif;
}
#pricing-table1-2x SMALL {
  text-align: right;
}





#dropdown-menu-2btn-31 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-31 .nav .link,
#dropdown-menu-2btn-31 .dropdown-item {
  font-size: 1.2em;
  color: #000000;
  font-family: 'PT Serif', serif;
}
#dropdown-menu-2btn-31 .navbar,
#dropdown-menu-2btn-31 .dropdown-menu {
  background: #d9534f;
}
#dropdown-menu-2btn-31 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-31 .dropdown-menu a:hover,
#dropdown-menu-2btn-31 .dropdown-menu a:focus {
  background: #d5433e;
}
#dropdown-menu-2btn-31 .navbar-toggler {
  color: #000000;
}
#dropdown-menu-2btn-31 A {
  font-size: 22px;
  font-family: 'Roboto', sans-serif;
}
#dropdown-menu-2btn-31 .btn {
  font-size: 20px;
  font-family: 'PT Serif', serif;
}
#form2-32 .mbr-section-title {
  font-size: 100px;
}
#msg-box1-34 H2 {
  text-align: left;
  font-family: 'Bitter', serif;
  font-size: 36px;
}
#msg-box1-37 H2 {
  font-size: 36px;
  font-family: 'Bitter', serif;
}
#pricing-table1-38 SMALL {
  text-align: right;
}





#dropdown-menu-2btn-3c .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-3c .nav .link,
#dropdown-menu-2btn-3c .dropdown-item {
  font-size: 1.2em;
  color: #000000;
  font-family: 'PT Serif', serif;
}
#dropdown-menu-2btn-3c .navbar,
#dropdown-menu-2btn-3c .dropdown-menu {
  background: #d9534f;
}
#dropdown-menu-2btn-3c .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-3c .dropdown-menu a:hover,
#dropdown-menu-2btn-3c .dropdown-menu a:focus {
  background: #d5433e;
}
#dropdown-menu-2btn-3c .navbar-toggler {
  color: #000000;
}
#dropdown-menu-2btn-3c A {
  font-size: 22px;
  font-family: 'Roboto', sans-serif;
}
#dropdown-menu-2btn-3c .btn {
  font-size: 20px;
  font-family: 'PT Serif', serif;
}
#form2-3d .mbr-section-title {
  font-size: 100px;
}
#msg-box1-3f H2 {
  text-align: left;
  font-family: 'Bitter', serif;
  font-size: 36px;
}
#msg-box1-3i H2 {
  font-size: 36px;
  font-family: 'Bitter', serif;
}
#pricing-table1-3j SMALL {
  text-align: right;
}





#dropdown-menu-2btn-3n .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-3n .nav .link,
#dropdown-menu-2btn-3n .dropdown-item {
  font-size: 1.2em;
  color: #000000;
  font-family: 'PT Serif', serif;
}
#dropdown-menu-2btn-3n .navbar,
#dropdown-menu-2btn-3n .dropdown-menu {
  background: #d9534f;
}
#dropdown-menu-2btn-3n .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-3n .dropdown-menu a:hover,
#dropdown-menu-2btn-3n .dropdown-menu a:focus {
  background: #d5433e;
}
#dropdown-menu-2btn-3n .navbar-toggler {
  color: #000000;
}
#dropdown-menu-2btn-3n A {
  font-size: 22px;
  font-family: 'Roboto', sans-serif;
}
#dropdown-menu-2btn-3n .btn {
  font-size: 20px;
  font-family: 'PT Serif', serif;
}
#form2-3o .mbr-section-title {
  font-size: 100px;
}
#msg-box1-3q H2 {
  text-align: left;
  font-family: 'Bitter', serif;
  font-size: 36px;
}
#msg-box1-3t H2 {
  font-size: 36px;
  font-family: 'Bitter', serif;
}
#pricing-table1-3u SMALL {
  text-align: right;
}





#dropdown-menu-2btn-3y .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-3y .nav .link,
#dropdown-menu-2btn-3y .dropdown-item {
  font-size: 1.2em;
  color: #000000;
  font-family: 'PT Serif', serif;
}
#dropdown-menu-2btn-3y .navbar,
#dropdown-menu-2btn-3y .dropdown-menu {
  background: #d9534f;
}
#dropdown-menu-2btn-3y .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-3y .dropdown-menu a:hover,
#dropdown-menu-2btn-3y .dropdown-menu a:focus {
  background: #d5433e;
}
#dropdown-menu-2btn-3y .navbar-toggler {
  color: #000000;
}
#dropdown-menu-2btn-3y A {
  font-size: 22px;
  font-family: 'Roboto', sans-serif;
}
#dropdown-menu-2btn-3y .btn {
  font-size: 20px;
  font-family: 'PT Serif', serif;
}
#form2-3z .mbr-section-title {
  font-size: 100px;
}
#msg-box1-41 H2 {
  text-align: left;
  font-family: 'Bitter', serif;
  font-size: 36px;
}
#msg-box1-44 H2 {
  font-size: 36px;
  font-family: 'Bitter', serif;
}
#pricing-table1-45 SMALL {
  text-align: right;
}





#dropdown-menu-2btn-49 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-49 .nav .link,
#dropdown-menu-2btn-49 .dropdown-item {
  font-size: 1.2em;
  color: #000000;
  font-family: 'PT Serif', serif;
}
#dropdown-menu-2btn-49 .navbar,
#dropdown-menu-2btn-49 .dropdown-menu {
  background: #d9534f;
}
#dropdown-menu-2btn-49 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-49 .dropdown-menu a:hover,
#dropdown-menu-2btn-49 .dropdown-menu a:focus {
  background: #d5433e;
}
#dropdown-menu-2btn-49 .navbar-toggler {
  color: #000000;
}
#dropdown-menu-2btn-49 A {
  font-size: 22px;
  font-family: 'Roboto', sans-serif;
}
#dropdown-menu-2btn-49 .btn {
  font-size: 20px;
  font-family: 'PT Serif', serif;
}
#form2-4a .mbr-section-title {
  font-size: 100px;
}
#msg-box1-4c H2 {
  text-align: left;
  font-family: 'Bitter', serif;
  font-size: 36px;
}
#msg-box1-4f H2 {
  font-size: 36px;
  font-family: 'Bitter', serif;
}
